body {
  background: #212121;
}

.App {
  min-height: 100vh;
  width: 100%;
}

.game-parent {
}

#game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.tile-style {
  background-color: #1e90ff;
}

.tile {
  border: 1px solid silver;
}

h1,
h2 {
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow: hidden;
}

.tile-style {
  background: #b61e1e;
}

.game-points {
  color: white;
  z-index: 10;
}
.start-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.start-button button {
  padding: 10px;
  background: transparent;
  border: 1px solid #fff;
  font-size: 20px;
  outline: none;
  color: #fff;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.start-button button:hover {
  background: #fff;
  color: #000;
}

.end-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.end-screen h3 {
  color: #fff;
  font-size: 30px;
}

.end-screen a {
  cursor: pointer;
  padding: 10px;
  background: transparent;
  border: 1px solid #fff;
  font-size: 20px;
  outline: none;
  color: #fff;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.end-screen a:hover {
  background: #fff;
  color: #000;
}

.score-display {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffffc4;
  font-size: 43px;
  line-height: 25px;
  text-align: center;
}

.score-display > span {
  font-size: 18px;
}

.song-title {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffffc4;
  font-size: 18px;
  text-align: center;
}

.song-title span {
  font-size: 14px;
}
